main {
  //   border: 2px solid white;
  height: 80vh;
}

.hidden {
  display: none !important;
}

//////////////////////////////////////////////////
//// PAGE HEADER
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;

  &__heading {
    color: $colorGreen;
  }

  &__paragraph {
    text-transform: uppercase;
    margin-top: 1rem;
  }
}

//////////////////////////////////////////////////
//// HANGMAN GAME DISPLAY
.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;

  &__word {
    // border: 2px solid white;
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3rem 0 2rem 0;
    }

    &-blanks {
      border-bottom: 2px solid $colorGreen;
      width: 1rem;
      margin-left: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__guess {
    width: 2rem;
    height: 1rem;

    &-box {
      display: flex;
    }

    &-box2 {
      display: flex;
      flex-direction: column;
    }

    // &-guess-paragraph {
    // }

    // &-guess-input {
    // }
  }

  &__hangman {
    // border: 2px solid white;

    position: relative;
    top: 10rem;
    left: -15%;
    // transform: translate(-50%, -50%);
  }

  &__previous {
    font-weight: 900;
    letter-spacing: 0.2rem;
    align-self: center;

    position: relative;
    top: -1.2rem;
  }
}

//////////////////////////////////////////////////
//// HANGMAN STAGES

// base
.base {
  width: 4rem;
  height: 0.4rem;
  background-color: $colorWhite;

  position: absolute;
  bottom: 1rem;
  left: 5%;
}

.pole {
  width: 0.5rem;
  height: 6rem;
  background-color: $colorWhite;

  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.top {
  width: 4rem;
  height: 0.5rem;
  background-color: $colorWhite;

  position: absolute;
  top: -5.8rem;
  left: 47%;
}

.drop {
  width: 0.4rem;
  height: 0.8rem;
  background-color: $colorWhite;

  position: absolute;
  top: -5.7rem;
  left: 137%;
}

// stage 1
.stage1 {
  outline: 0.1rem solid $colorWhite;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;

  position: absolute;
  top: -4.8rem;
  left: 130%;
}
// stage 2
.stage2 {
  background-color: $colorWhite;
  height: 2rem;
  width: 0.2rem;

  position: absolute;
  top: -3.7rem;
  left: 140%;
}
// stage 3
.stage3 {
  background-color: $colorWhite;
  height: 1.5rem;
  width: 0.1rem;

  position: absolute;
  top: -4.2rem;
  left: 128%;

  transform: rotate(130deg);
}
// stage 4
.stage4 {
  background-color: $colorWhite;
  height: 1.5rem;
  width: 0.1rem;

  position: absolute;
  top: -4.2rem;
  left: 155%;

  transform: rotate(230deg);
}
// stage 5
.stage5 {
  background-color: $colorWhite;
  height: 1.7rem;
  width: 0.1rem;

  position: absolute;
  top: -2.2rem;
  left: 122%;

  transform: rotate(60deg);
}
// stage 6
.stage6 {
  background-color: $colorWhite;
  height: 1.7rem;
  width: 0.1rem;

  position: absolute;
  top: -2.1rem;
  left: 158%;

  transform: rotate(130deg);
}

//////////////////////////////////////////////////
//// BUTTONS

.btn {
  width: 15rem;
  height: 2rem;
  border: 0.1rem solid $colorWhite;
  background-color: $colorGreen;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
  &:hover,
  &:focus {
    scale: 105%;
    background-color: $colorGrey;
    color: $colorGreen;
    cursor: pointer;
    animation: scaleUp 500ms linear forwards;
  }
  @keyframes scaleUp {
    0% {
      transform: scale(98%);
    }
    100% {
      transform: scale(100%);
    }
  }

  &:active {
    animation: scaleDown 500ms linear forwards;
  }
  @keyframes scaleDown {
    0% {
      transform: scale(100%);
    }
    100% {
      transform: scale(98%);
    }
  }

  &--restart-game {
    position: relative;
    top: -4rem;
  }

  &--game-info {
    position: relative;
    top: -4rem;
  }
}

//////////////////////////////////////////////////
//// OVERLAY
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: $colorWhite;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $colorGrey;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  & li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &-exit {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 3rem;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

//////////////////////////////////////////////////
//// GAME HELPERS
.game-mode-pick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $colorGrey;
  background-color: $colorGrey;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word-list-pick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $colorGrey;
  background-color: $colorGrey;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats-box {
  position: relative;
  top: -6rem;
  text-align: center;
  //   height: auto;
}

.btn--reveal {
  position: relative;
  top: -1rem;
  background-color: $colorGreen;
  border: 1px solid $colorWhite;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: $colorWhite;
  cursor: pointer;
}

.red {
  background-color: crimson;
}
