//////////////////////////////////////////////////
// COLORS
$colorWhite: #f9f5f6;
$colorGrey: #27374d;
$colorBlue: #b0daff;
$colorGreen: #03c988;

//////////////////////////////////////////////////
// FONTS

//////////////////////////////////////////////////
// MEDIA QUERY MANAGER
