*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  color: #f9f5f6;
  background-color: #27374d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

main {
  height: 80vh;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.header__heading {
  color: #03c988;
}
.header__paragraph {
  text-transform: uppercase;
  margin-top: 1rem;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
.display__word {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display__word-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 2rem 0;
}
.display__word-blanks {
  border-bottom: 2px solid #03c988;
  width: 1rem;
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display__guess {
  width: 2rem;
  height: 1rem;
}
.display__guess-box {
  display: flex;
}
.display__guess-box2 {
  display: flex;
  flex-direction: column;
}
.display__hangman {
  position: relative;
  top: 10rem;
  left: -15%;
}
.display__previous {
  font-weight: 900;
  letter-spacing: 0.2rem;
  align-self: center;
  position: relative;
  top: -1.2rem;
}

.base {
  width: 4rem;
  height: 0.4rem;
  background-color: #f9f5f6;
  position: absolute;
  bottom: 1rem;
  left: 5%;
}

.pole {
  width: 0.5rem;
  height: 6rem;
  background-color: #f9f5f6;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.top {
  width: 4rem;
  height: 0.5rem;
  background-color: #f9f5f6;
  position: absolute;
  top: -5.8rem;
  left: 47%;
}

.drop {
  width: 0.4rem;
  height: 0.8rem;
  background-color: #f9f5f6;
  position: absolute;
  top: -5.7rem;
  left: 137%;
}

.stage1 {
  outline: 0.1rem solid #f9f5f6;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: -4.8rem;
  left: 130%;
}

.stage2 {
  background-color: #f9f5f6;
  height: 2rem;
  width: 0.2rem;
  position: absolute;
  top: -3.7rem;
  left: 140%;
}

.stage3 {
  background-color: #f9f5f6;
  height: 1.5rem;
  width: 0.1rem;
  position: absolute;
  top: -4.2rem;
  left: 128%;
  transform: rotate(130deg);
}

.stage4 {
  background-color: #f9f5f6;
  height: 1.5rem;
  width: 0.1rem;
  position: absolute;
  top: -4.2rem;
  left: 155%;
  transform: rotate(230deg);
}

.stage5 {
  background-color: #f9f5f6;
  height: 1.7rem;
  width: 0.1rem;
  position: absolute;
  top: -2.2rem;
  left: 122%;
  transform: rotate(60deg);
}

.stage6 {
  background-color: #f9f5f6;
  height: 1.7rem;
  width: 0.1rem;
  position: absolute;
  top: -2.1rem;
  left: 158%;
  transform: rotate(130deg);
}

.btn {
  width: 15rem;
  height: 2rem;
  border: 0.1rem solid #f9f5f6;
  background-color: #03c988;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.btn:hover, .btn:focus {
  scale: 105%;
  background-color: #27374d;
  color: #03c988;
  cursor: pointer;
  animation: scaleUp 500ms linear forwards;
}
@keyframes scaleUp {
  0% {
    transform: scale(98%);
  }
  100% {
    transform: scale(100%);
  }
}
.btn:active {
  animation: scaleDown 500ms linear forwards;
}
@keyframes scaleDown {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(98%);
  }
}
.btn--restart-game {
  position: relative;
  top: -4rem;
}
.btn--game-info {
  position: relative;
  top: -4rem;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: #f9f5f6;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #27374d;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup li:not(:last-child) {
  margin-bottom: 1rem;
}
.popup-exit {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 3rem;
}
.popup-exit:hover, .popup-exit:focus {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.game-mode-pick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #27374d;
  background-color: #27374d;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word-list-pick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #27374d;
  background-color: #27374d;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats-box {
  position: relative;
  top: -6rem;
  text-align: center;
}

.btn--reveal {
  position: relative;
  top: -1rem;
  background-color: #03c988;
  border: 1px solid #f9f5f6;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: #f9f5f6;
  cursor: pointer;
}

.red {
  background-color: crimson;
}

/*# sourceMappingURL=style.comp.css.map */
